.lunie-light {
  /* theme colors */
  --primary: var(--red-600);
  --primary-hover: var(--red-700);
  --highlight: var(--purple-500);
  --link: var(--blue-700);
  --link-hover: var(--blue-800);

  /* background-colors */
  --app-fg: hsl(229, 100%, 97%);
  --app-fg-hover: hsl(229, 100%, 95%);
  --app-bg: #fff;
  --primary-faded: hsla(7, 88%, 70%, 0.2);
  --primary-faded-hover: hsla(7, 88%, 70%, 0.3);

  /* menu styles */
  --app-nav: hsl(229, 20%, 11%);
  --app-nav-hover: hsl(229, 20%, 16%);
  --menu-link: var(--link);
  --menu-link-hover: var(--link-hover);
  --menu-border: hsl(229, 20%, 26%);
  --menu-text-dim: hsl(0, 0%, 65%);
  --menu-bright: hsl(0, 0%, 100%);
  --menu-text: hsla(0, 0%, 90%);

  /* typography */
  --bright: hsl(227, 40%, 33%);
  --txt: hsl(227, 40%, 28%);
  --dim: hsl(227, 40%, 23%);
  --bc: hsl(0, 0%, 95%);
  --bc-dim: hsl(0, 0%, 97%);
  --input-bc: var(--menu-border);

  --notification-title: hsl(227, 40%, 33%);
  --success: var(--green-800);
  --success-faded: var(--green-200);
  --warning: var(--orange-800);
  --warning-faded: var(--orange-200);
  --danger: var(--red-800);
  --danger-faded: var(--red-200);
  --info: var(--pink-900);
  --dark-grey-blue: hsl(227, 40%, 33%);
}
