.lunie-light {
  /* theme colors */
  --primary: var(--teal-800);
  --primary-hover: var(--teal-900);
  --highlight: var(--teal-600);
  --link: var(--blue-500);
  --link-hover: var(--blue-600);

  /* background-colors */
  --app-fg: var(--gray-100);
  --app-fg-hover: var(--gray-200);
  --app-bg: var(--white);
  --primary-faded: var(--red-200);
  --primary-faded-hover: var(--red-300);

  /* menu styles */
  --app-nav: var(--gray-1000);
  --app-nav-hover: var(--gray-900);
  --menu-link: var(--link);
  --menu-link-hover: var(--link-hover);
  --menu-bright: var(--white);
  --menu-text: var(--gray-100);

  /* typography */
  --bright: var(--gray-900);
  --txt: var(--gray-800);
  --dim: var(--gray-700);
  --bc: var(--gray-500);
  --bc-dim: var(--gray-200);
  --input-bc: var(--gray-600);
  --success: var(--green-700);
  --warning: var(--orange-400);
  --danger: var(--red-400);
  --info: var(--pink-900);
}
