.lunie-light {
  /* theme colors */
  --primary: var(--purple-600);
  --primary-hover: var(--purple-700);
  --highlight: #F67F70;
  --link: var(--blue-700);
  --link-hover: var(--blue-800);

  /* background-colors */
  --app-fg: var(--gray-100);
  --app-fg-hover: var(--gray-200);
  --app-bg: var(--white);
  --primary-faded: var(--red-200);
  --primary-faded-hover: var(--red-300);

  /* menu styles */
  --app-nav: var(--gray-1000);
  --app-nav-hover: var(--gray-900);
  --menu-link: var(--link);
  --menu-link-hover: var(--link-hover);
  --menu-border: hsl(229, 20%, 26%);
  --menu-text-dim: hsl(0, 0%, 65%);
  --menu-bright: hsl(0, 0%, 100%);
  --menu-text: hsla(0, 0%, 90%);

  /* typography */
  --bright: var(--gray-900);
  --txt: var(--gray-800);
  --dim: var(--gray-700);
  --bc: var(--gray-500);
  --bc-dim: var(--gray-200);
  --input-bc: var(--menu-border);
  --success: var(--green-600);
  --warning: var(--orange-400);
  --danger: var(--red-400);
  --info: var(--pink-900);
  --dark-grey-blue: hsl(227, 40%, 33%);
}
