@import "./reset.css";
@import "./variables.css";

/* global-reset() */

/* reset-html5() */

/* --- BASICS --- */
html,
body,
button,
select,
option,
input,
textarea {
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
  cursor: pointer;
}

#app {
  font-size: var(--text-base);
  background: var(--app-fg);
  line-height: 1.5;
  color: var(--txt);
  display: flex;
  flex-flow: column nowrap;
  min-width: 0;
}

#app-content {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}
h1 {
  font-size: 24px;
  color: var(--gray-800);
  font-weight: 600;
  padding-bottom: 2rem;
}

@keyframes fade {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

@media screen and (max-width: 1023px) {
  #app-content {
    padding-top: 70px;
    flex-flow: column;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  #app {
    flex-flow: row nowrap;
  }

  #app-content {
    display: flex;
    min-width: 0;
  }
}
