@import "./reset.css";
@import "./variables.css";

/* global-reset() */

/* reset-html5() */

/* --- BASICS --- */
html,
body,
button,
select,
option,
input,
textarea {
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover);
  cursor: pointer;
}

#app {
  font-size: var(--text-base);
  line-height: 1.5;
  color: var(--txt);
  display: flex;
  flex-flow: column nowrap;
  min-width: 0;
}

#app-content {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.tm-field {
  border-radius: var(--border-radius) !important;
}

input[readonly],
input[disabled],
textarea[readonly],
textarea[disabled] {
  background: var(--bc-dim) !important;
}

input[type="radio"] {
  margin: 0;
}

input.tm-field {
  height: inherit !important;
}

.tm-select .tm-field-select-addon {
  height: 100% !important;
  border-left: 1px solid var(--input-bc);
  width: 29px !important;
}

.tm-li-container {
  margin-right: 1rem;
}

.input-suffix {
  background: transparent;
  display: inline-block;
  position: absolute;
  padding: 7px;
  font-size: var(--text-xs);
  text-transform: uppercase;
  top: 2px;
  right: 30px;
  letter-spacing: 1px;
  text-align: right;
  font-weight: 500;
  border-radius: var(--border-radius);
}

.input-suffix.max-button {
  right: 124px;
}

.field-checkbox-label {
  display: inline-block;
  padding-left: 1.5rem;
  text-indent: -1.5rem;
  line-height: 14px;
}

.hide {
  display: none;
}

.loading-image-container {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  animation: fade 2s infinite;
}

h1 {
  font-size: 24px;
  color: var(--gray-800);
  font-weight: 500;
  padding-bottom: 2rem;
}

.loading-row {
  display: flex;
  align-items: center;
  background: var(--app-fg);
  border-radius: var(--border-radius);
  animation: fade 2s infinite;
  justify-content: center;
  height: auto;
  width: auto;
  padding: 2rem;
}

.loading-row.left {
  justify-content: left;
}

@keyframes fade {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

@media screen and (max-width: 1023px) {
  #app-content {
    padding-top: 70px;
    flex-flow: column;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  #app {
    flex-flow: row nowrap;
  }

  #app-content {
    display: flex;
    min-width: 0;
  }
}
